Source: build
Section: devel
Priority: optional
Maintainer: Adrian Schroeter <adrian@suse.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: obs-build
Architecture: all
Depends: ${perl:Depends}, rpm
Recommends: rpm2cpio
Conflicts: build
Replaces: build
Provides: build
Description: A script to build SUSE Linux RPMs
 This package provides a script for building RPMs for SUSE Linux
 in a chroot environment.

